__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/
.venv*/
data/db/*.db
data/snapshots/*.jpg
data/faces/*.jpg
data/calibration/*.npz
data/room_config.json
data/room_profiles.json
data/app_settings.json
data/saved_devices.json
*.pt
.DS_Store
Thumbs.db
build/
build2/
build311/
build311-onefile/
dist/
dist2/
dist311/
dist311-onefile/
*.spec
